# From https://docs.github.com/en/actions/learn-github-actions/contexts#example-usage-of-the-env-context
name: Nuget Example
env:
  USERNAME: ${{ github.actor }}
  NAMESPACE: ${{ github.repository }}
on: push
jobs:
  test:
    runs-on: windows-latest
    # From https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages#example-workflow
    permissions:
      contents: read
      packages: write
    # From https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-nuget-registry
    steps:
      - run: echo "${{ env.USERNAME }}"
      - run: dotnet nuget add source --username ${{ env.USERNAME }} --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/${{ env.NAMESPACE }}/index.json"
      - run: dotnet new console --name GmzwingeNugetExample
      - run: dotnet pack --configuration Release
        working-directory: GmzwingeNugetExample
      #- run: dotnet nuget push "bin/Release/GmzwingeNugetExample.1.0.0.nupkg"  --api-key YOUR_GITHUB_PAT --source "github"
      - run: dotnet nuget push "bin/Release/GmzwingeNugetExample.1.0.0.nupkg"  --api-key ${{ secrets.GITHUB_TOKEN }} --source "github"
        working-directory: GmzwingeNugetExample
      - run: dotnet restore
        working-directory: GmzwingeNugetExample
      
